
/**, *::before, *::after {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*}*/

body {
    margin: 100px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #18191C;
    color: #FFFFFF;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    flex-direction: column;
}

.form {
    width: 630px;
    margin: auto;
}

.input_label {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input_label + .input_label {
    margin-top: 25px;
}

.input_title {
    margin-right: 35px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
}

.input {
    border: 1px solid #ffffff;
    border-radius: 6px;
    padding: 10px 15px;
    background-color: transparent;
    color: #ffffff;
    font-family: inherit;
    font-size: inherit;
    font-weight: 300;
}

.input:focus {
    border-color: #FF8630;
    outline: none;
}

.input, .button {
    width: 300px;
    flex-shrink: 0;
}

.button {
    display: block;
    width: 52%;
    border: 2px solid transparent;
    border-radius: 6px;
    padding: 8px 15px;
    margin-top: 25px;
    margin-left: auto;
    color: #000000;
    font-size: 18px;
    font-weight: 300;
    font-family: inherit;
    transition: background-color 0.2s linear;
}

.button:hover {
    background-color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.2s linear;
}

.button:focus, .button:focus-visible {
    border: 2px solid #ffffff;
    outline: none;
}

.button_orange {
    background-color: #FF8630;
}

.list {
    width: 175%;
    margin: 26px 12px -22px;
    padding: 12px 6px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: center;
}
.main_page {
    display: block;
    width: 100%;
    /*border: 2px solid transparent;*/
    border-radius: 6px;
    padding: 8px 15px;
    margin-top: 25px;
    margin-left: auto;
    color: #000000;
    font-size: 18px;
    font-weight: 300;
    font-family: inherit;
    transition: background-color 0.2s linear;
}